<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--color-primary);">
    <a class="navbar-brand" href="/home"><strong>Stock Photos</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home"> Hello {{ userName }}!</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="logOut()" style="cursor: pointer;">Logout <span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="text-center my-5">
  <div class="container">
    <h2>My photos</h2>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="md-form mt-0">
          <i class="material-icons upload-icon" (click)="editPhoto()" *ngIf="showPhoto">cloud_upload</i>
          <amplify-s3-image [path]="userPhoto" [options]="{'level': 'private'}" *ngIf="showPhoto" (click)="editPhoto()">
          </amplify-s3-image>
          <amplify-photo-picker *ngIf="!showPhoto" path="image" [storageOptions]="{'level': 'private'}"
            (uploaded)="onImageUploaded($event)">
          </amplify-photo-picker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-between" *ngFor="let photo of user.photos">
        <amplify-s3-image [path]="photo" [options]="{'level': 'private'}" (selected)="onAlbumImageSelected($event)">
        </amplify-s3-image>
      </div>
    </div>
  </div>
</main>